* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(160, 20%, 20%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.mainfont {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: grid;
    grid-template-areas: 'header header header'
        'main main main'
        'main main main'
        'main main main'
        'footer footer footer';
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: hsl(160 20% 20%);
    height: 50px;
    display: flex;
}

header li {
    display: flex;
    height: 50px;
    list-style-type: none;
    padding: 15px;
    display: inline;
}

header img {
    width: 40px;
    height: 40px;
    margin: 5px 20px;
}

header a {
    text-decoration: none;
}

main {
    grid-area: main;
    background-color: hsl(160 20% 20%);
    grid-template-rows: 100% 100% 100%;
}

#destacado {
    grid-area: main;
    background-image: url(./images/grupo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    color: black;
    opacity: 90%;
    text-align: center;
    padding: 150px 100px;
}

#textodestacado {
    margin: auto;
    font-size: 10px;
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    color: white;
}

#titulocatalogo {
    width: 100%;
    text-align: center;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.productos li {
    list-style: none;
}

.productos li img {
    height: 250px;
    width: 250px;
    object-fit: 50%;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}

#button-vermas{
    background-color: rgb(5, 70, 90);
    color: white;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    justify-content: center;
}

.adicional {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 600px;
    place-content: center;
}

#adicionalareaA {
    text-align: center;
    padding-top: 50px;
}

#RegistroUsuario {
    background-color: hsl(160 20% 20%);
    height: 600px;
    list-style: none;
    padding: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: white;
}

button{
    background-color: rgb(5, 70, 90);
    color: white;
    padding: 10px;
    width: 150px;
}

.login {
    width: 100%;
    padding: 30px;
    margin: auto;
}

footer {
    grid-area: footer;
    display: flex;
}

footer li {
    flex-direction: row;
    list-style: none;
}

footer img {
    width: 20px;
    height: 20px;
}

footer ul {
    padding: 50px 0px 50px 50px;
}

footer ul .contacto {
    width: 50px;
    height: 50px;
    padding: 50px;
}

footer h3 {
    margin: 0px 0px 30px 0px;
}

@media (min-width: 421px) and (max-width: 936px) {
    #adicionalareaA {
        display: none;
    }

    .adicional {
        grid-template-columns: 1fr;
    }

    #RegistroUsuario {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    header {
        height: 35px;
    }
    header li {
        padding: 7px;
    }
    header img {
        width: 25px;
        height: 25px;
        margin: 5px 5px;
    }
    header a {
        font-size: 10px;
    }
    #titulodestacado{
        font-size: 10px;
    }
    #textodestacado{
        font-size: 10px;
    }
    #catalogo {
        gap: 15px;
        padding: 10px 5px 15px 40px;
        font-size: 10px;
    }
    #titulocatalogo {
        width: 66%;
        text-align: start;
    }
    .productos {
        gap: 20px;
        justify-content: unset;
    }
    .productos li img {
        height: 100px;
        width: 100px;
    }

    #adicionalareaA {
        display: none;
    }

    .adicional {
        grid-template-columns: 1fr;
    }

    #RegistroUsuario {
        width: 100%;
        font-size: 10px;
        height: 450px;
    }

    button {
        background-color: rgb(5, 70, 90);
        color: white;
        padding: 10px;
        width: 150px;
    }

    footer {
        font-size: 10px;
    }

    footer img {
        width: 10px;
        height: 10px;
    }

    footer ul {
        padding: 25px 0px 50px 15px;
    }

    footer h3{
        margin: 0px 0px 10px 0px;
    }
}